* {
    box-sizing: border-box;
}
main {
    margin: 0 auto;
    width: 1920px;
    background-color: #FFF;
    padding: 120px 180px 120px 300px;
    font-size: 18px;
}

.left_content, .right_content {
    min-height: 560px;
}

.about {
    font-size: 1.1em;
    color: #050931;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

}

.img_0 {
    margin-top: -20px;
}

.zagolovok {
    width: 492px;
    color: #050931;
    font-family: Outfit, sans-serif;
    font-size: 2.666em;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.text_1, .text_2 {
    color: #647685;
    font-family: Rubik, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 156%;
}

.text_1 {
    width: 513px;

}

.font_weight {
    font-weight: 600;
}

.font_weight_1 {
    color: #FE6B01;
    font-weight: 600;
    text-decoration-line: underline;
}

.text_2 {
    width: 499px;
}

.knopka {
    width: 171px;
    height: 66px;
    color: #FFF;
    font-family: Rubik, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    line-height: 166%;
    border-radius: 5%;

}

.right_content {
    position: relative;
}

.img_1, .img_2, .icon, .circle, .square {
    position: absolute;
}

.img_1 {
    bottom: 0;
    right: 412px;
    z-index: 3;

}

.img_2 {
    top: 0;
    right: 124px;
    z-index: 1;

}

.icon {
    bottom: 0;
    right: 0;

}

.circle {
    right: 550px;
    bottom: 468px;
    width: 73px;
    height: 73px;
    background: #BADAF4;
    border-radius: 50%

}

.square {
    width: 373px;
    height: 440px;
    background: #BADAF4;
    right: 373px;
    top: 119px;
    z-index: 2;
}

